[Unit]
Description=OpenNebula COGNIT Devices Estimated Load
After=network.target opennebula-cognit-frontend.service

[Service]
Type=simple
ExecStart=/usr/share/one/cognit-venv/bin/python /usr/lib/one/cognit-devices-estimated-load/src/main.py --daemon
Restart=on-failure
RestartSec=5
WorkingDirectory=/usr/lib/one/cognit-devices-estimated-load/src
Environment="PYTHONUNBUFFERED=1" "PYTHONPATH=/var/lib/one/remotes/im/lib/python"

[Install]
WantedBy=multi-user.target
